<a href="https://colab.research.google.com/github/abhi23shek/DataScienceEcosystem/blob/main/DataScienceEcosystem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

## Objectives:
* List popular languages for Data Science
* Commonly used libraries used by Data Scientists
* Data Science Tools
* Evaluating arithmetic expressions in Python
* convert minutes to hours

## Some of the popular languages that Data Scientists use are:
1. Python
1. R
1. Scala

## Some of the commonly used libraries used by Data Scientists include:
1. Matplotlip
1. Pandas
1. NumPy

Data Science Tools |  
-------------------|
Jupyter Notebooks      |
Hadoop      |
Spark |

### Below are a few examples of evaluating arithmetic expressions in Python.

#### This a simple arithmetic expression to mutiply then add integers.

In [4]:
(3*4)+5

17

#### This will convert 200 minutes to hours by diving by 60

In [5]:
200/6

33.333333333333336

## Author
Abhishek